<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="Console">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.banksalad.collectmydata.common.logging.CollectLogbackPatternLayout">
        <pattern>[%d{yyyy:MM:dd HH:mm:ss.SSS}] [%-5level] [%request] [%thread] [%C{36}] [%M] [%line] [%mdc]- %msg %n
        </pattern>
      </layout>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <logger level="INFO" name="org.springframework"/>

  <root level="INFO">
    <appender-ref ref="Console"/>
  </root>

  <springProperty name="port" scope="context" source="server.port"/>
</configuration>
