{{ $service_name := "collectmydata-kafkaclient" }}

{{ $env := .Env.ENV }}
{{ $sub_env_id := .Env.SUB_ENV_ID }}

{{ assert (ne .Env.IMAGE_TAG "") }}

{{ $no_sub_env_id_envs := slice "production" "staging" }}
{{ if has $no_sub_env_id_envs $env }}
  {{ assert (eq $env $sub_env_id) }}
{{ end }}

{{ $namespace := $env }}

{{ if ne $env $sub_env_id }}
  {{ $namespace = join (slice $env $sub_env_id) "-" }}
{{ end }}

{{ $kafka_cidr_a := "10.120.250.0/25" }}
{{ $kafka_cidr_b := "10.120.250.128/25" }}
{{ $kafka_cidr_c := "10.120.251.0/25" }}

{{ if eq $env "production" }}
  {{ $kafka_cidr_a = "fixme" }}
  {{ $kafka_cidr_b = "fixme" }}
  {{ $kafka_cidr_c = "fixme" }}
{{ end }}


---
kind: Pod
apiVersion: v1
metadata:
  name: {{ $service_name }}
  namespace: {{ $namespace }}
  labels:
      app: {{ $service_name }}
spec:
  containers:
    - name: kafka-client
      image: confluentinc/cp-kafka:6.0.1
      command:
        - sh
        - -c
        - "exec tail -f /dev/null"

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ $service_name }}
  namespace: {{ $namespace }}
  labels:
    app: {{ $service_name }}
spec:
  podSelector:
    matchLabels:
      app: {{ $service_name }}
  policyTypes:
  - Egress
  egress:
  - to:
    - ipBlock:
        cidr: {{ $kafka_cidr_a }}
    ports:
    - protocol: TCP
      port: 9092
  - to:
    - ipBlock:
        cidr: {{ $kafka_cidr_b }}
    ports:
    - protocol: TCP
      port: 9092
  - to:
    - ipBlock:
        cidr: {{ $kafka_cidr_c }}
    ports:
    - protocol: TCP
      port: 9092
